.app-page-header {
    margin-bottom: var(--app-page-header-spacing);
}

.app-page-title {
    margin-bottom: .5rem;
}

.app-page-subtitle {
    max-width: var(--app-page-header-max-width);
    margin-bottom: 1rem;
}

.app-page-header-content {
    margin-top: 1rem;
}

.app-page-header-icon {
    margin-right: var(--app-page-header-icon-gap);
}
