.app-page-header {
    margin-bottom: 1.5rem;
}

.app-page-title {
    margin-bottom: .5rem;
}

.app-page-subtitle {
    max-width: 900px;
    margin-bottom: 1rem;
}

.app-page-header-content {
    margin-top: 1rem;
}
