@inherits LayoutComponentBase

<div class="d-flex flex-column h-100">
    <!--Home Menu-->
    <HomeMenu />

    <!--Main Content Area-->
    <main class="flex-grow-1">
        @Body
    </main>

    <!--Sticky Footer-->
    <footer class="flex-shrink-0">
        <Footer />
    </footer>
</div>

@code {

}
