
@using BlazorCodeChallenge.Services
@inject AppState AppState
@implements IDisposable

@inject NavigationManager NavManager

<nav class="navbar navbar-expand-lg navStyle" data-bs-theme="dark">
    <div class="container-xxl">
        <a href="/" class="me-3">
            <img src="/images/Home/MagicCodeSquare_3.png" height="40" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--Menu Links-->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-house"></i>
                        <span>Home</span>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/movietime" Match="NavLinkMatch.All">
                        <i class="bi bi-film"></i>
                        <span>Movie Time</span>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/movies" Match="NavLinkMatch.All">
                        <i class="bi bi-list"></i>
                        <span>All Movies</span>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/cool-movies" Match="NavLinkMatch.All">
                        <i class="bi bi-stars"></i>
                        <span>Cool Movies</span>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/favorite-movies" Match="NavLinkMatch.All">
                        <i class="bi bi-heart-fill"></i>
                        <span>Favorite Movies</span>
                    </NavLink>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <InputText class="form-control form-control-sm me-2" type="search" placeholder="Search Movies..." aria-label="Search" name="query" @bind-Value="Query"></InputText>

                <button class="btn btn-sm btn-primary" type="button" @onclick="HandleSearch">Search</button>
                
            </form>
        </div>
    </div>
</nav>

@code{
    private string Query { get; set; } = string.Empty;

    private void HandleSearch()
    {
        // Implement search functionality here
        // Take the value from the form and pass it to the search page
        
        // NavManager.NavigateTo("/search");
        // NavManager.NavigateTo($"/search?query={Uri.EscapeDataString(Query)}");
        NavManager.NavigateTo(string.IsNullOrEmpty(Query) ? "search" : $"search?query={Query}");

        

        Console.WriteLine($"Searching for: {Query}");
    }

    protected override void OnInitialized()
    {
        AppState.StateChanged += Refresh;
    }

    private void Refresh()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        AppState.StateChanged -= Refresh;
    }
}