.tech-stack-title {
    margin-bottom: .5rem;
}

.tech-stack-icon {
    font-size: var(--app-tech-stack-icon-size);
}

.tech-stack--monochrome .tech-stack-icon {
    color: var(--app-tech-stack-monochrome-color);
}

@media (min-width:992px) {
    .tech-stack-icon {
        font-size: var(--app-tech-stack-icon-size-lg);
    }
}
