<nav class="navbar navbar-expand-lg navStyle" data-bs-theme="dark">
    <div class="container-xxl">
        <a href="/" class="me-3">
            <img src="/images/Home/MagicCodeSquareLogo.png" height="40" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--Menu Links-->
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-house"></i>
                        <span>Home</span>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/mortgagecalculator" Match="NavLinkMatch.All">
                        <i class="bi bi-cash-coin"></i>
                        <span>Mortgage Calculator</span>
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/fizzbuzz" Match="NavLinkMatch.All">
                        <i class="bi bi-arrows-expand"></i>
                        <span>Fizz Buzz</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/fizzbuzzvalidation" Match="NavLinkMatch.All">
                        <i class="bi bi-code"></i>
                        <span>Fizz Buzz (Validation)</span>
                    </NavLink>
                </li>
                @* <li class="nav-item">
                    <NavLink class="nav-link" href="/counter">
                        <i class="bi bi-stopwatch"></i>
                        <span>Counter</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/weather">
                        <i class="bi bi-cloud"></i>
                        <span>Weather</span>
                    </NavLink>
                </li> *@
                <li class="nav-item">
                    <NavLink class="nav-link" href="/weatherdashboard">
                        <i class="bi bi-cloud"></i>
                        <span>Weather Dashboard</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/themes">
                        <i class="bi bi-palette"></i>
                        <span>Themes</span>
                    </NavLink>
                </li>
                @* <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-stack"></i>
                        <span>Dropdown</span>
                    </a>
                    <ul class="dropdown-menu text-nowrap px-2 m-2">
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-person-fill"></i>
                                <span>Dropdown Link 1</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-archive"></i>
                                <span>Dropdown Link 2</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-box-arrow-in-right"></i>
                                <span>Dropdown Link 3</span>
                            </a>
                        </li>
                    </ul>
                </li> *@
            </ul>
        </div>
    </div>
</nav>
