@inject MovieFavoritesService MovieFavoritesService

<div class="movieCard card h-100">
    <img src="@Movie.PosterPath" alt="Movie Poster" class="card-img-top"/>
    <div class="card-body border border-top">
        <div class="card-title fw-bold lh-1">
            @Movie.Title
        </div>
        <div class="card-text lh-1 fst-italic">
            @{
                var parsed = DateTime.TryParse(Movie.ReleaseDate, out var releaseDate);
            }
            Release Date: @(parsed ? releaseDate.ToString("MMMM dd, yyyy") : "Unknown")
        </div>
    </div>
    <div class="movieCardFooter card-footer-d-flex justify-content-between">
        <button class="btn btn-outline-primary" @onclick="HandleToggleFavorite">
            @(isFavorite ? "Remove Favorite" : "Add Favorite")
        </button>
        <a href="/movie/@Movie.Id" class="btn btn-primary">Movie Details</a>
    </div>
</div>

@code {

}
