@page "/favorite-movies"

@using BlazorCodeChallenge.Constants
@using BlazorCodeChallenge.Services

@inject IJSRuntime JS
@layout MovieTimeLayout

@inject AppState AppState
@implements IDisposable

@inject TMDBService TMDBService
@inject MovieFavoritesService MovieFavoritesService

<PageTitle>Favorite Movies</PageTitle>

<div class="container-xxl py-3">
    <h1>
        <i class="bi bi-heart-fill text-danger"></i>
        Favorites Movie Listings
    </h1>
    <p class="lead italic">Browse your favorites listing of movies from The Movie DataBase.</p>
    @if (favoriteMovies is null)
    {
        <div class="d-flex justify-content-center align-items-center">
            @if (isLoading)
            {
                <h2 class="text-muted">Loading favorite movies...</h2>
            }
            else
            {
                <h2 class="text-muted">Failed to load favorite movies...</h2>
            }
        </div>
    }
    else
    {
        <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-lg-4">
            @foreach (var movie in favoriteMovies)
            {
                <div class="col">
                    <MovieCard Movie="movie" OnChange="OnParametersSetAsync"/>
                </div>
            }
        </div>
    }
</div>
