
.movie-intro {
    max-width: 580px;
}

.movie-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {

    .movie-hero {
        min-height: 80vh;
    }
}

.movie-links {
    flex-wrap: wrap;
}

.movie-hero-image {
    width: 100%;
    max-width: 620px;
}

.movie-page-layout {
    min-height: calc(100vh - 8rem);
}

